<h2>Similar Movies for <%= @movie.title %></h2>
 <ul>
    <% @find_similar.each do |title| %>
      <li> <%= title %></li>
    <% end %>
</ul>
<%= link_to 'Back', movies_path, :class => 'btn btn-secondary' %>